#drawstack {
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 850px;
	height: 850px;
}

#content {
	padding: 5px;
}

#points {
	display: none;
}

#baselayer {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(map.png);
}

#selectionlayer  {
	position: absolute;
	top: 0px;
	left: 0px;
}

#footer, #header {
	width: 850px;
	text-align: center;
	padding-top: 10px;
}

#coords {
	margin-top: 5px;
	width: 850px;
	height: 20;
	text-align: center;
	font-weight: bold;
	background-color: #dddddd;
}

#infoBox {
	border: 1px solid black;
	border-radius: 6px;
	padding: 3px;
	position: absolute;
	background-color: white;
}

#infoRight {
	width: 40px;
	float: left;
}

#infoLeft {
	width: 150px;
	float: left;
	margin-right: 3px;
}

#infoIdLabel, #infoAreaLabel, #infoProvinceLabel, #infoFactionLabel, #infoRegionLabel, #infoVassalLabel, #infoContestedLabel, #infoPreviousLabel {
	font-size: 7pt;
	color: #999999;
}

#infoProvince, #infoFaction, #infoRegion, #infoVassal, #infoContested, #infoPrevious {
	font-size: 9pt;
}

#infoId {
	font-size: 16pt;
	font-weight: bold;
}

#infoArea {
	font-size: 10pt;
	font-weight: bold;
}

#infoHeartland {
	font-size: 7pt;
	color: #999999;
}

#infoImage {
	width: 40px;
	height: 40px;
	background-size: 100%;
}

.imgcell {
	text-align: center;
	width: 25px;
}

.fimgtable {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

a {
	color: #7c0f0f;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

table {
	border: 2px solid #dddddd;
	width: 850px;
}

th a {
	text-decoration: none;
}

th {
	background-color: #dddddd;
}