#drawstack {
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 700px;
	height: 700px;
}

#content {
	padding: 5px;
}

#points {
	display: none;
}

#baselayer {
	position: absolute;
	top: 0px;
	left: 0px;
	/*background-image: url(map.jpg);*/
}

#selectionlayer  {
	position: absolute;
	top: 0px;
	left: 0px;
}

#footer, #header {
	width: 700px;
	text-align: center;
	padding-top: 10px;
}

#infobox {
	display: none;
	position: absolute;
	width: 200px;
	height: 70px;
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	font-size: 8pt;
	background-color: #dddddd;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

table {
	border: 2px solid #dddddd;
	width: 700px;
}

th {
	background-color: #dddddd;
}