#footer, #header {
	text-align: center;
}

#content {
	padding: 5px;
}

#map {
	position: relative;
	margin: auto;
	width: 850px;
	height: 850px;
	padding-bottom: 5px;
}

#points {
	margin: auto;
	width: 850px;
	display: none;
}

#pointsTable {
	border: 2px solid #dddddd;
	width: 100%;
}

#pointsTable a {
	text-decoration: none;
}

#pointsTable th {
	background-color: #dddddd;
}

#baseLayer {
	background-image: url(map.png);
}

#highlightLayer, #baseLayer {
	position: absolute;
	top: 0px;
	left: 0px;
}

#coords {
	width: 120px;
	margin: auto;
	height: 20;
	text-align: center;
	font-weight: bold;
	background-color: #dddddd;
}

#infoBox {
	border: 1px solid black;
	border-radius: 6px;
	padding: 3px;
	position: absolute;
	background-color: white;
	display: none;
}

#infoRight {
	width: 40px;
	float: left;
}

#infoLeft {
	width: 150px;
	float: left;
	margin-right: 3px;
}

#infoIdLabel, #infoAreaLabel, #infoProvinceLabel, #infoFactionLabel, #infoRegionLabel, #infoVassalLabel, #infoContestedLabel, #infoPreviousLabel {
	font-size: 7pt;
	color: #999999;
}

#infoProvince, #infoFaction, #infoRegion, #infoVassal, #infoContested, #infoPrevious {
	font-size: 9pt;
}

#infoId {
	font-size: 16pt;
	font-weight: bold;
}

#infoArea {
	font-size: 10pt;
	font-weight: bold;
}

#infoHeartland {
	font-size: 7pt;
	color: #999999;
}

#infoImage {
	width: 40px;
	height: 40px;
	background-size: 100%;
}

.factionIconCell {
	text-align: center;
	width: 25px;
}

.factionIcon {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

a, a:link, a:visited, a:focus, a:active {
	color: black;
}

a:hover {
	color: red;
}
